* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body,
html {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

/** navigation **/
.nav-container {
  background-color: burlywood;
  color: black;
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 150px 0px 150px;
}

.hero-content {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.tag {
  background-color: rgb(30, 126, 30);
  padding: 5px 10px;
}

.enjoy {
  font-size: 72px;
  line-height: 1.2;
}

.features {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0px 70px;
  border-bottom: 2px solid rgb(218, 215, 215);
}

.feature {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 360px;
  margin-bottom: 50px;
}

.feature img {
  width: 60px;
  object-fit: contain;
}

.feature-content {
  font-size: 15px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 50px 40px;
  height: 1054px;
  width: 1440px;
}

/* .grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
} */

.firsttag {
  background-color: rgb(30, 126, 30);
  padding: 10px 20px;
}

.firsttag h2 {
  font-weight: 500;
  font-size: 20px;
}

.footer-container {
  height: 322px;
  background-color: burlywood;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  color: gray;
  line-height: 2em;
  padding-top: 50px;
}

.links ul li {
  list-style-type: none;
}
