/* * {
  margin: 0%;
  padding: 0%;
} */

.container {
  height: 500px;
  width: 300px;
  background-color: lightgrey;
  padding: 20px;
  border: 2px solid black;
  animation: fontanimate 2s ease-in 0.5s 2;
}

h2 {
  text-decoration: underline;
  justify-content: center;
  text-align: center;
}

div:hover {
  background-color: rgb(112, 155, 170);
  transition-property: background color;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

@keyframes fontanimate {
  from {
    font-size: 16px;
  }
  to {
    font-size: 20px;
  }
}

button {
  display: none;
}

.add {
  display: block;
}

li:hover > button {
  display: inline-block;
  border: 2px solid black;
}
