.contentbox {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

#content {
  height: 720px;
  background-color: pink;
}
