/* #container {
  background-color: black;
  padding: 10px;
  width: fit-content;
}

.div {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 10px;
  /* text-align: center; */
/* display: flex;
  justify-content: center;
  align-items: center;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
} */
*/ div {
  background-color: pink;
}
